span.my_check { background: url(check.png) 0px 0px no-repeat; }
span.my_check_active { background: url(check_active.png) 0px 0px no-repeat; }
span.my_check_disabled { background: url(check_disabled.png) 0px 0px no-repeat; }